on:
  workflow_dispatch:
  workflow_call:

name: Deploy pharmr

jobs:
  deploy:
    runs-on: ubuntu-20.04
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout pharmr
        uses: actions/checkout@v4
        with:
          path: pharmr_repo

      - uses: ./pharmr_repo/.github/actions/setup-dependencies

      - uses: ./pharmr_repo/.github/actions/setup-pharmr
        with:
          as-release: true

      - uses: ./pharmr_repo/.github/actions/check-pharmr

      - name: Get Pharmpy version
        working-directory: pharmpy_repo
        run: |
          echo "pharmpy_version=`git describe --tags`" >> $GITHUB_ENV
        shell: bash

      - name: Set up git config
        working-directory: pharmr_repo
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Add changes to DESCRIPTION and documentation
        working-directory: pharmr_repo
        run: |
          git add DESCRIPTION
          git add NAMESPACE
          git add R/functions_wrapper.R
          git add man/
          git status

      - name: Check if any files have been staged
        working-directory: pharmr_repo
        run: |
          if [[ "$(git diff --name-only --cached | wc -c)" != "0" ]]; then
            echo "has_been_updated=true" >> $GITHUB_ENV
          else
            echo "has_been_updated=false" >> $GITHUB_ENV
          fi

      - name: Commit and push changes, tag version
        if: ${{ env.has_been_updated == 'true' }}
        working-directory: pharmr_repo
        run: |
          echo "Committing changes"
          git commit -m "Update DESCRIPTION/documentation"
          echo "Tag version"
          git tag "${{ env.pharmpy_version }}"
          echo "Push changes"
          git push https://$USERNAME:$REPO_KEY@github.com/pharmpy/pharmr.git
          echo "push tags"
          git push --tags https://$USERNAME:$REPO_KEY@github.com/pharmpy/pharmr.git
        env:
          REPO_KEY: ${{secrets.ACCESS_TOKEN}}
          USERNAME: github-actions[bot]
